<!--navbar-light altera a cor do texto e bg-orimary altera a cor de fundo -->
<nav class="navbar navbar-light bg-primary">
  <!--Alinha a imagem a esquerda e aponta para a rota home -->
  <a
    class="navbar-brand"
    href="/"
  >
    <img src="/img/guia.png" />
  </a>
</nav>
