<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a
    class="navbar-brand"
    href="/"
  >
    GuiaPress
  </a>
  <!-- alinha os itens automticamente a esquerda -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a
        class="nav-link"
        href="/admin/categories"
        >Categorias</a
      >
    </li>
    <li class="nav-item active">
      <a
        class="nav-link"
        href="/admin/articles"
        >Artigos</a
      >
    </li>

    <li class="nav-item active">
      <a
        class="nav-link"
        href="/admin/users"
        >Usuários</a
      >
    </li>
  </ul>
  <!-- alinha os itens automticamente a direita no curso
     cara ensina ml-auto porem foi substitudo por ms-auto-->
  <ul class="navbar-nav ms-auto">
    <li class="nav-item active">
      <a
        class="nav-link"
        href="/logout"
        >Logout</a
      >
    </li>
  </ul>
</nav>
