<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1 style="color: red">Meu PDF</h1>
    <hr />
    <p>Esse é um pdf gerado em node.js</p>
    <p>Nome: <%= nome %></p>
    <p>Curso: <%= curso1 %></p>
    <img
      src="https://media.licdn.com/dms/image/C4D16AQFdf7kqHWCwuQ/profile-displaybackgroundimage-shrink_350_1400/0/1623676461736?e=1676505600&v=beta&t=LPHyd-Mpn3KywOKTVVJ5TrxOjmLlRorU6bkPabzCHFA"
      alt="Guilherme Augusto Gonçalves Poscidônio"
    />
  </body>
</html>
